@{
    ViewData["Title"] = "Fail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Please enter an email address that is already registered with us</h3>
<h4>-Thank You</h4>

@Html.ActionLink("Register", "Register", "Account")<br />
@Html.ActionLink("Sign up", "Create")


